//Newsletter width content
$newsletter-width: 850px; //Change to 100% for mobile
$newsletter-max-width: $newsletter-width; //Change to a max width for mobile

//Links / a
$link-color: black; //link color
$text-decoration: underline; //text-decoration